<h1>Editing post</h1>

<%= javascript_include_tag "fckeditor/fckeditor" %>

<%= error_messages_for :post %>

<% form_for(@post) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Content</b><br />
    <%= fckeditor_textarea(:post, :content, :height => '220', :toolbarSet => 'Basic') %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
